
#imagen {

    width: 240px;
    height: 240px;
    border: #000000 5px solid;
    
    margin-top: 10px;
    border-radius: 50%;
}

#informacion {

    width: 240px;
    height: 400px;
    border: rgb(0, 0, 0) 5px solid;
    
    margin-top: 30px;
    border-radius: 1%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

}

#diploma {
    width: 240px;
    height: 310px;
    
    margin-bottom: 30px;
    margin-top: 30px;
    border: black 5px solid;
}
.todo{
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: black 5px solid;
    

}
#infoAcademica{
    margin: 10px 30px;
    width: 240px;
    height: 499px;
    border: black 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
#proyecto{
    margin: 10px;
    width: 340px;
    height: 1030px;
    border: black 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
#habilidades{
    margin: 4px 30px;
    width: 240px;
    height: 514px;
    border: black 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
