@font-face {
    font-family: letra;
    src: url(Amazon_Typefaces_Complete_Font_Set_Mar2020/Ember/AmazonEmber_Th.ttf);

}
@font-face {
    font-family: cursiva;
    src: url(Amazon_Typefaces_Complete_Font_Set_Mar2020/MYRIADPRO-CONDIT.OTF);

}

@font-face {
    font-family: gor;
    src: url(Amazon_Typefaces_Complete_Font_Set_Mar2020/Ember/AmazonEmber_Bd.ttf);
}
body{
    background-color: black;
    margin: 0 auto;
    overflow-x: hidden;
}
.pag{
    margin: 0px auto;
    width: 100vw;
    max-width: 1920px;
    height: auto;
    overflow: hidden;


}
#part1{
    background-image: url(img/FondoTwitch@2x.png);
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: 135vh;
    max-height: 56vw;
    max-width: 1920px;
    text-align: center;
    margin: 0px;
}
#superior{
    display: flex;
    justify-content: space-between;
}
#part2{
    width: 93%;
    padding-bottom: 3vw;
    background: #00A8E1;
    border-radius: 6vw;
    margin: 0px auto;
    margin-top: 1.5vw;
    border: #00A8E1 1px solid;
    text-align: center;
}
#part3{
    width: 93%;
    padding-bottom: 3vw;
    background: #00A8E1;
    border-radius: 6vw;
    margin: 0px auto;
    margin-top: 1.5vw;
    border: #00A8E1 1px solid;
    text-align: center;
}

#part4{
    width: 93%;
    padding-bottom: 3vw;
    background: #00A8E1;
    border-radius: 6vw;
    margin: 0px auto;
    margin-top: 1.5vw;
    border: #00A8E1 1px solid;
    text-align: center;

}
#part5{
    width: 93%;
    padding-bottom: 3vw;
    border-radius: 6vw;
    margin: 0px auto;
    margin-top: 1.5vw;

    text-align: center;
}
#fondo{
    width: 100vw; 
    height: 100vh;
    max-height: 85vw;
    max-width: 1920px;
    z-index: -1;
}
#lupa{
    width: 2vw;
    height: 2vw;
    padding-top: 2vw ;
    padding-left: 3vw;
}
#login{
    font-size: 1vw;
    width: 11.5%;
    height: 3vw;
    background: white;
    font-family: letra;
    border-radius:  30px; 
    text-align: center;
    align-content: center;
    margin-right: 3vw;
    margin-top:1.5% ;
}
#logo{
    width: 14vw;
    height: 7vw;
    margin-top: 10.5%;
}
#text1{
    margin: 0px;
    margin-top: 3vw;
    font-size: 3.1vw;
    color: white;
    font-family: gor;
}
#text2{
    margin:auto;
    font-size: 1.65vw;
    margin-top: 0.5vw;
    color: white;
    text-align: center;
    font-family: letra;
}
#sing{
    margin:  0px auto;
    width: 20vw;
    height: 5vw;
    border-radius: 52px;
    background: white;
    font-family: letra;
    font-weight: 600;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}
#text3{
    color: white;
    font-size: 3.2vw;
    font-size-adjust:auto;
    font-family: letra;
    margin-top: 4vw;
    margin-bottom: 0px;
}
#tv{
    margin-top: 1.3vw;
    width: 13vw;
    height: 11vw;
    margin-left: 2vw;
}
#text4{
    margin: auto;
    color: white;
    font-size: 2vw;
    font-family: letra;
    text-align: center;
    margin-top: 1vw;
    padding-left:1vw ;
}
#text5{
    color: white;
    font-size: 3.1vw;
    font-family: gor;
}
#peliculas{
    display: flex;
    justify-content: center;
}
.p{
    width: 9%;
    margin: 0 0.3%;
}
#text6{
    color: white;
    font-family: letra;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 0px;
}
#text7{
    color: white;
    font-size: 3.1vw;
    font-family: gor;
}
#x{
    width: 9vw;
    top: 60px;
}
#text8{
    color: white;
    font-size: 2vw;
    font-family: letra;
    text-align: center;
    margin-bottom: 0vw;
}
#text9{
    color: white;
    font-family: letra;
    font-size: 7vw;
    margin-top: 4.5vw;
    margin-bottom: 0vw;
}
#text10{
    color: white;
    font-family: letra;
    font-size: 2.6vw;
    margin: auto;
    margin-top: 2vw;
}
#disp{
    display: flex;
    justify-content: center;
    align-items: center;
}
#d1{
    width: 15%;
}
#d2{
    width: 25%;
}
#d3{
    width: 20%;
}
#f1{
    width: 1%;
}
#f2{
    width: 1%;
}
#power{
    display: flex;
    justify-content: center;
    text-align: center;
}
#cur{
    color: white;
    font-family: cursiva;
    font-size: 1.2vw;
    padding-right: 1vw;
}
#firma{
    width: 10vw;
}
#divicionT2{
    height: 75px;
    display: flex;
    justify-content: center;
}
.fin{
    color: white;
    font-size: 1.2vw;
    margin: 1.1vw;
    font-family: letra;
}