@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: #201c2c;
}
#principal{
    width: 1920px;
    border: aliceblue 1px solid;
    margin: auto;
}
#part1{
    width: 1920px;
    height: 1080px;
    border: red 1px solid;
    color: orange;
    font-size: 60px;
}
#part2{
    width: 1920px;
    height: 1080px;
    border: red 1px solid;
}
#part3{
    width: 1920px;
    height: 1080px;
    border: red 1px solid;
}
#part4{
    width: 1920px;
    height: 800px;
    border: red 1px solid;
}
#part5{
    width: 1920px;
    height: 750px;
    border: red 1px solid;
}
#part6{
    width: 1920px;
    height: 540px;
    border: red 1px solid;
}