
body{
    margin: 0px;
}
#contenedor{
    margin: auto;
    height: 62vw;
    width: 100vw;
    max-width: 1920px;
    max-height: 1080px;
    overflow: hidden;
}
#cielo{
    width: 100%;
    height: 100%;
}
#arboles{
    width: 100%;
    height: 100%;
    position: relative;
    top: -101%;
}
#casa{
    position: relative;
    top: -155.5%;
    width: 40%;
    left:60%;
}
#sol{
    position: relative;
    top: -220%;
    width: 20%;
    filter: grayscale(0.7);
    animation-name: solk;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}
@keyframes solk {
    70% {filter: grayscale(0.7);}
    75%{filter: grayscale(0);}
    100%{filter: grayscale(0);}
    }
#nube{
    position: relative;
    width: 20%;
    top: -210%;
    left: 40%;
    z-index: 2;
    animation-name: nube;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}
@keyframes nube {
    0%{left: 40%;}
    35%{left: 40%;}
    41.7%{left: -35%;}
    61.7%{left:-35%}
    70%{left: -87%;}
    100%{left: -87%;}
}
.agua{
    width: 16%;
    height: 30%;
}
#lluvia1{
    position: relative;
    top: -210%;
    left: -53%;
    opacity:0;
    animation-name: lluvia1;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}
@keyframes lluvia1 {
    41.6%{opacity:0;}
    41.7%{opacity:1;top: -210%;}
    61.7%{opacity:1;top: -110%;}61.8%{opacity:0;}
}
#lluvia2{
    position: relative;
    top: -241%;
    left: 27.6%;
    opacity:0;
    z-index: 1;
    animation-name: lluvia2;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}
@keyframes lluvia2 {
    43.4%{ opacity:0;}
    43.5%{opacity:1;top: -241%;}
    63.5%{opacity:1;top: -150%;}
    63.6%{opacity:0;}
}
#lluvia3{
    opacity:0;
    position: relative;
    top: -242%;
    left: 11.5%;
    animation-name: lluvia3;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}
@keyframes lluvia3 {
    44.2%{opacity:0;}
    44.3%{opacity:1;top: -242%;}
    64.3%{opacity:1;top: -160%;}
    64.4%{opacity:0;}
}
#flores{
    width: 10%;
    position: relative;
    top: -156.5%;
    animation-name: flores;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}
@keyframes flores {
    70%{top: -156.5%;}
    100%{top: -185%; }
}
#conteo{
    text-align: center;
    font-size: 4vw;
    height: 10vw;
    position: relative;
    top: -230%;
    overflow: hidden;
}
#conteo p{
    position: relative;
    top: 100%;
    animation-name: conteo;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes conteo {
    34%{top: -500%;opacity: 1;}
    34.1%{opacity: 0;}
    100%{opacity: 0;}
}
@media only screen and (max-width:400px){
    #casa{top: -152.5%}
    #sol{top: -222%; }
    #lluvia2{top: -243.5%;left: 30%;}
    #lluvia3{top: -243.5%;left: 13%;}
    @keyframes flores {
        70%{top: -156.5%;}
        100%{top: -180%; }
    }
}
